body {
  font-family: sans-serif;
  background: url(/img/background\ 1.png);
}
a {
  color: #ffffff;
}
.container {
  max-width: 1028px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 54px 0 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo__milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  
}
.logo__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.logo__content {
  padding-top: 3px;
  padding-left: 8px;
}
.logo_avatar {
  background-image: url(/img/logoWhite.png);
  width: 53px;
  height: 47px;
}
.logo_avatar:hover{
  background-image: url(/img/logoOrange.png);
  width: 53px;
  height: 47px;
}
.name_holid {
  display: block;
  font-size: 18px;
line-height: 18px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav__link {
  font-size: 18px;
  line-height: 18px;
}
.nav__link:last-child {
  padding-top: 18px;
}
.logo__hover:hover {
  color: #f26522;
}
.nav__link:hover {
  color: #f26522;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 17px;
  width: 1028px;
  margin: 0 auto;
  
}
.work {
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  
}
.work__category {
  padding-top: 20px;
  
}
.work__image {
  width: 300px;
  height: 220px;
  
}
.cat__hover:hover {
  color: #f26522;
}
.footer_text {
  padding-top: 49px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.parent .child-hover {
  display: none;
  
}
.parent:hover .child-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0px;
  background: #f26522;
}
.image-wrapper {
  position: relative;
}
.product {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 10px;
  padding-left: 6px;
  padding-top: 7px;
  color: #ffffff;
}
.product_hit {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 20px;
  line-height: 20px;
}
.product_hit_hit {
  padding-top:25px;
  padding-left: 135px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.product_hit_hit::after {
  content: "❯";
  padding-left: 16px;
}

